Source: percona-xtradb-cluster-galera-3.x
Section: database
Priority: extra
Maintainer: Debian MySQL Maintainers <pkg-mysql-maint@lists.alioth.debian.org>
Uploaders: George Ormond Lorch III <george.lorch@percona.com>,
           Alexey Bychko <alexey.bychko@percona.com>,
           Tomislav Plavcic <tomislav.plavcic@percona.com>
Build-Depends: check,
               debhelper (>= 7.0.50~),
               libboost-dev (>= 1.41),
               libboost-program-options-dev (>= 1.41),
               libssl-dev,
               scons (>= 2)
Standards-Version: 3.9.5
Homepage: http://www.percona.com/software/percona-xtradb-cluster
Vcs-Git: git://github.com/percona/galera.git
Vcs-Browser: http://github.com/percona/galera.git

Package: percona-xtradb-cluster-galera-3.x
Architecture: any
Provides: galera3, percona-xtradb-cluster-galera-25
Conflicts: galera,
           percona-xtradb-cluster-galera,
           percona-xtradb-cluster-galera-2.x
Replaces: galera,
          percona-xtradb-cluster-galera,
          percona-xtradb-cluster-galera-3
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Galera components of Percona XtraDB Cluster
 This package contains the Galera components required by Percona XtraDB Cluster.

Package: percona-xtradb-cluster-garbd-3.x
Architecture: any
Provides: garbd-3, garbd3
Conflicts: garbd-2, garbd2, percona-xtradb-cluster-garbd-2.x
Breaks: percona-xtradb-cluster-galera-2.x
Replaces: percona-xtradb-cluster-galera-2.x
Depends: netcat-openbsd, ${misc:Depends}, ${shlibs:Depends}
Description: Garbd components of Percona XtraDB Cluster
 This package contains the garbd of Percona XtraDB Cluster.

Package: percona-xtradb-cluster-galera-3.x-dbg
Architecture: any
Section: debug
Depends: percona-xtradb-cluster-galera-3.x (= ${binary:Version}),
         ${misc:Depends}
Description: Debugging package for Percona XtraDB Cluster Galera 3.
 This package contains the debug components for XtraDB Galera Cluster 3.

Package: percona-xtradb-cluster-garbd-3.x-dbg
Architecture: any
Section: debug
Depends: percona-xtradb-cluster-garbd-3.x (= ${binary:Version}),
         ${misc:Depends}
Description: Debugging package for Percona XtraDB Cluster Garbd 3.
 This package contains the debug components Percona XtraDB Cluster Garbd 3.

Package: percona-xtradb-cluster-galera-3
Architecture: any
Section: database
Depends: percona-xtradb-cluster-galera-3.x (= ${binary:Version}),
         ${misc:Depends}
Description: Metapackage for latest version of galera3.
 This is a metapackage for latest and best version of galera3.

Package: percona-xtradb-cluster-garbd-3
Architecture: any
Section: database
Depends: percona-xtradb-cluster-garbd-3.x (= ${binary:Version}),
         ${misc:Depends}
Description: Metapackage for latest version of garbd3.
 This is a metapackage for latest and best version of garbd3.

Package: percona-xtradb-cluster-galera-3-dbg
Architecture: any
Section: debug
Depends: percona-xtradb-cluster-galera-3.x-dbg (= ${binary:Version}),
         percona-xtradb-cluster-garbd-3.x-dbg (= ${binary:Version}),
         ${misc:Depends}
Description: Metapackage for latest version of debug packages.
 This is a metapackage for latest and best version of galera debug packages.
